body {
    display: flex;
    justify-content: center;
    padding: 15px;
}

.main {
    max-width: 700px;
    flex-grow: 1;
}

.success::before {
    border: 2px solid seagreen;
    color: darkgreen;
    content: "S";
    padding: 2px 6px;
    margin-right: 5px;
    margin-left: -9px;
    border-radius: 5px;
    font-weight: 700;
}

.failure::before {
    border: 2px solid orangered;
    color: darkred;
    content: "F";
    padding: 2px 6px;
    margin-right: 5px;
    margin-left: -9px;
    border-radius: 5px;
    font-weight: 700;
}

.select-input-wrapper {
    display: flex;
    align-items: center;
}

.form-check-label {
    margin-left: 20px;
}

.checkbox_wrapper {
    display: flex;
    flex-direction: column;
}

.buttons_search {
    display: flex;
    justify-content: left;
    align-items: center;
}

.buttons_search>button {
    min-width: 100px;
    margin-right: 100px;
}

.input_h4wrap {
    display: flex;
    max-width: 100%;
    align-items: center;
}

.input_h4wrap>input {
    margin-left: 10px;
}

.input_h4wrap>h4 {
    padding: 0;
    margin: 0;
    margin-right: 10px;
}